body {
    background-color: #222222; 
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

#miID {
    text-align: center;
    color: #bbcde5;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
}

a {
    color: #639fab;
}

a:hover{
    color: #1c5d99;
}

.Enlaces{
    text-align: center;
}

img {
    display: block;
    width: 300px;
    height: 280px;
    margin: auto;
}

li{
    font-size: 18px;
}